nav{
   position: fixed;
   width: 100%;
   background-color: rgb(255, 255, 255);
   z-index: 1;
}
.nav__container {
   padding:  20px 0;
   display: flex;
   align-items: center;
   justify-content: space-between;
}

.logo {
   display: flex;
   align-items: center;
   gap: 12px;

   p {
      font-weight: 700;
   }
}

.search {
   display: flex;
   align-items: center;
   gap: 16px;

   .katalog {
      padding: 8px;
      background-color: #70C05B;
      display: flex;
      align-items: center;
      gap: 8px;
      border-radius: 4px;

      a {
         padding: 0 8px;
         margin-bottom: 2px;
         color: white;
         font-size: 16px;
         font-style: normal;
         font-weight: 400;
         line-height: 150%
      }

      button {
         background-color: transparent;
      }
   }
}

.nav__input {
   position: relative;

   input {
      width: 360px;
      padding: 12px;
      border-color: #70C05B;
      border-radius: 4px;
   }

   img {
      position: absolute;
      margin: 4px;
      left: 320px;
      top: 5px;
   }
}

.nav__items {
   display: flex;
   gap: 24px;

   .nav__item {
      text-align: center;

      img {
         margin-bottom: 8px;
      }

      a {
         color: #414141;
         font-size: 12px;
         font-style: normal;
         font-weight: 400;
         line-height: 150%;
      }
   }
}

.nav__user{
   display: flex;
   align-items: center;
   gap: 10px;
}

main{
   padding-top: 97px;
   background-color: #FBF8EC;
   padding-left:8px;
   padding-right: 8px;
}

@media  (max-width: 768px) {
   nav{
      padding:  0 16px;
   }
   .logo{
      p{
         display: none;
      }
   }
   .search{
      .katalog{
         a{
            display: none;
         }
      }
   }
   .nav__user{
         display: none;
   }
 }

 @media (max-width:360px){
   .search{
      .katalog{
         display: none;
      }

      .nav__input{
         input{
            width: 250px;
            margin-left: 16px;
         }
         img{
            left: 230px;
         }
      }
   }
   .nav__list{
      display: none;
   }
 }